.chat-item-border {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
}
/* body {

} */
.custom-input-container, .custom-image-container {
  margin-top:100px;
}
.custom-input-container input:placeholder-shown + label {
  color:black;

}
.image-result {
  height:70vh;
  max-width: 100%;
}
/* textarea{
    width: 100%;
    height: 10vh;
    padding: 10px;
    border: 1px solid #ccc; /* Subtle border color */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Subtle box shadow for depth */
    background-color: #e3f2fd; /* Light blue background color */
    resize: vertical; /* Allow vertical resizing */
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition on interaction */
  }
  
  textarea:focus {
    outline: none; /* Remove default focus outline */
    border-color: #64b5f6; /* Change border color on focus */
    box-shadow: 0 0 8px rgba(100, 181, 246, 0.7); /* Adjust box shadow on focus */
  } */